<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="title" content="weather">
    <meta name="description" content="weather app">
    
    <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">

    <link rel="preconnect" href="http://font.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./static/style.css">

</head>
<body>

    <header class="header">
        <div class="container">
            <a href="#" class="logo">
                <img src="./static/logo.png" width="364" height="58" alt="logo">
            </a>
            <div class="search-view" data-search-view>

                <div class="search-wrapper">
                    <form action="/" method="post">
                        <input type="search" name="city" placeholder="Введи город" autocomplete="off" class="search-field" data-search-field>
                        <span class="m-icon leading-icon has-state">search</span>
                        <button type="submit" class="icon-btn" aria-label="close search">
                            <span class="m-icon">arrow_back</span>
                        </button>
                    </form>
                </div>

                <div class="search-result" data-search-result>
                    <ul class="view-list" data-search-list>

                        <li class="view-item">
                            <span class="m-icon">location_on</span>
                            
                            <div>
                                <p class="item-title">Волжский</p>
                                <p class="label-2 item-subtitle">Россия, RU</p>
                            </div>


                            <a href="#" class="item-link has-state" data-search-toggler></a>
                        </li>

                    </ul>
                </div>

            </div>

            <div class="header-actions">

                <button class="icon-btn has-state" aria-label="open search" data-search-toggler>
                    <span class="m-icon icon">search</span>
                </button>

                <a href="#/current-location" class="btn-primary has-state" data-current-location-btn>
                    <span class="m-icon">my_location</span>
                    <span class="span">Текущее местоположение</span>
                </a>

            </div>

        </div>

    </header>

    <main>

        <article class="container">

            <div class="content-left">

                <section class="section current-weather" aria-label="current weather" data-current-weather>
                    <div class="card card-lg current-weather-card">

                        <h2 class="title-2 card-title">Сейчас</h2>

                        <div class="wrapper">
                            <p class="heading">{{current_temp}}&deg;<sup>c</sup></p>

                            <img src="/static/images/weather_icons/{{current_icon}}.png" width="64" height="64" alt="Overcast Clouds"
                            class="weather_icon">
                        </div>

                        <p class="body-3">{{current_description}}</p>

                        <ul class="meta-list">

                            <li class="meta-item">
                                <span class="m-icon">calendar_today</span>

                                <p class="title-3 meta-text">{{dt_time}}</p>
                            </li>

                            <li class="meta-item">
                                <span class="m-icon">location_on</span>

                                <p class="title-3 meta-text">{{name}}</p>
                            </li>

                        </ul>

                    </div>
                </section>

                <section class="section forecast" aria-labelledby="forecast-label" data-5-day-forecast>
                    <h2 class="title-2" id="forecast-label">Погода на 5 дней</h2>
                    <div class="card card-lg forecast-card">
                        <ul>
                            {% for day in forecast_days %}
                            <li class="card-item">
                                <div class="icon-wrapper">
                                    <img src="/static/images/weather_icons/{{ day.icon }}.png" width="36" height="36" alt="{{ day.description }}"
                                         class="weather-icon">
                                    <span class="span">
                                        <p class="title-2">{{ day.temperature }}</p>
                                    </span>
                                </div>
                                <p class="label-1">{{ day.date }}</p>
                                <p class="label-1">{{ day.day_of_week }}</p>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </section>
            </div>

            <div class="content-right">
                <section class="section highlights" aria-labelledby="highlights-label" data-highlights>
                    <div class="card card-lg">

                        <h2 class="title-2" id="highlights-label">Основные моменты дня</h2>

                        <div class="highlight-list">


                            <div class="card card-sm highlight-card two">

                                <h3 class="title-3">Восход & Закат</h3>

                                <div class="card-list">

                                    <div class="card-item">
                                        <span class="m-icon">clear_day</span>
                                        
                                        <div>
                                            <p class="label-1">Восход</p>
                                            
                                            <p class="title-1">{{ sunrise }}</p>
                                        </div>
                                    </div>
                                    

                                    <div class="card-item">
                                        <span class="m-icon">clear_night</span>
                                        
                                        <div>
                                            <p class="label-1">Закат</p>
                                            
                                            <p class="title-1">{{ sunset }}</p>
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div class="card card-sm highlight-card">

                                <h3 class="title-3">Влажность</h3>

                                <div class="wrapper">
                                    <span class="m-icon">humidity_percentage</span>

                                    <p class="title-1">{{ humidity }}<sup>%</sup></p>
                                </div>

                            </div>
                            

                            <div class="card card-sm highlight-card">

                                <h3 class="title-3">Давление</h3>

                                <div class="wrapper">
                                    <span class="m-icon">airwave</span>

                                    <p class="title-1">{{ pressure }}<sup>hPa</sup></p>
                                </div>

                            </div>
                            

                            <div class="card card-sm highlight-card">

                                <h3 class="title-3">Видимость</h3>

                                <div class="wrapper">
                                    <span class="m-icon">visibility</span>

                                    <p class="title-1">{{ visibility }}<sup>km</sup></p>
                                </div>

                            </div>
                            

                            <div class="card card-sm highlight-card">

                                <h3 class="title-3">Ощущается</h3>

                                <div class="wrapper">
                                    <span class="m-icon">thermostat</span>

                                    <p class="title-1">{{ feels_like }}&deg;<sup>c</sup></p>
                                </div>

                            </div>

                        </div>

                    </div>
                </section>

                <div class="section hourly-forecast" aria-label="hourly-forecast" data-hourly-forecast>
                    <h2 class="title-2">Погода в</h2>
                    <div class="slider-container">
                        <ul class="slider-list" data-temp>
                            {% for weather in forecast_data %}
                            <li class="slider-item">
                                <div class="card card-sm slider-card">
                                    <p class="body-3">{{ weather.time }}</p>
                                    <img src="/static/images/weather_icons/01n.png" width="48" height="48" loading="lazy" alt=""
                                        class="weather-icon" title="">
                                    <p class="body-3">{{ weather.temp }}&deg;</p>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                        <ul class="slider-list" data-wind>
                            {% for weather in forecast_data %}
                            <li class="slider-item">
                                <div class="card card-sm slider-card">
                                    <p class="body-3">{{ weather.time }}</p>
                                    <img src="/static/images/weather_icons/direction.png" width="48" height="48" loading="lazy"
                                        alt="" class="weather-icon" title="">
                                    <p class="body-3">{{ weather.wind_speed }} km/h</p>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                </div>


            </div>

        </article>

    </main>


</body>
</html>